<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181643335442-ph41admq5g0c5jvk81ove8mr46hc8klm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181643335442-ph41admq5g0c5jvk81ove8mr46hc8klm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181643335442-jao0k6hoimo3na8hbt2tivciue7f2bga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrIMJkS7QWVOKxYqCUKex7iW6bRb0xmME</string>
	<key>GCM_SENDER_ID</key>
	<string>181643335442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bobprepglobaldigital.university</string>
	<key>PROJECT_ID</key>
	<string>bobprep-digital-university</string>
	<key>STORAGE_BUCKET</key>
	<string>bobprep-digital-university.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181643335442:ios:a32f2657a09d4e54a445cb</string>
</dict>
</plist>