<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092241176622-7necta29idnkpdt93rloqkal9n3u6qce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092241176622-7necta29idnkpdt93rloqkal9n3u6qce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092241176622-cc4d8l0bt1j8m86ip56me2opud2ag9qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCml808LRPZPA27IaAw2yegQsXD5mXD7Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>1092241176622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infixlms.app</string>
	<key>PROJECT_ID</key>
	<string>bobprep-47fca</string>
	<key>STORAGE_BUCKET</key>
	<string>bobprep-47fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092241176622:ios:47099674aa24badf4bc7bf</string>
	<key>DATABASE_URL</key>
	<string>https://bobprep-47fca-default-rtdb.firebaseio.com</string>
</dict>
</plist>